#tl_navigation .tl_level_1_group .group-simple_map_bundle,
#tl_navigation .menu_level_0 .group-simple_map_bundle{
    background: url(../icons/map-24px.svg) 0 0 no-repeat transparent;
    background-size: contain;
}
.header_map_pin_import{
    background:url("../icons/import.gif") no-repeat left center;
    padding: 3px 0 3px 21px;
    background-position: left center;
    margin-left: 15px;
}
